<div class="pa4-l mt0-l mt5">
  <form class="bg-dark-green mw7 center pa4 br0 br2-ns ba b--black-10" method="POST" action="/a/signup">
    <fieldset class="cf bn ma0 pa0">
      <legend class="pa0 f4 f3-ns mb3 near-white">Зарегистрируйтесь, чтобы получать информационную рассылку</legend>
      <div class="cf">
        <label class="clip" for="email">Электронная почта</label>
        <input class="f5 fw3 f4-l input-reset bn fl black-80 bg-white pa3 w-100 w-75-m w-70-l br2-ns br--left-ns" placeholder="Адрес электронной почты" type="email" name="email" value="" id="email">
        <input class="f5 fw3 f4-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-30-l br2-ns br--right-ns" type="submit" value="Зарегистрироваться">
      </div>
    </fieldset>
  </form>
</div>
