{{- define "main" -}}
<article class="ph4 pv4 pv6-l w-100 bg-white">
  {{- if .Sections -}}
  {{- range .Sections.ByWeight -}}
  <h3 class="f3 f2-ns f-4-l fw3 tc"><a class="link dim dark-green" href="{{.Permalink}}">{{- .Title }}</a></h3>
  <ul class="list pl0 mt0 w-100 mw8 center">
    {{- range .Pages.ByWeight -}}
    <li class="flex items-center lh-copy pa3 ph0-l bb b--black-20 f6 f5-ns f4-l">
      <div class="pl3 flex-auto">
        <a class="db link underline dark-green dim" href="{{.Permalink}}">{{.Title}}</a>
      </div>
      <div class="pr3">
        {{ range .Params.speakers }}
        {{ $name := . }}
        {{ with ($.Site.GetPage (printf "/speakers/%s" $name)) }}
        <a href="{{.Permalink}}" class="link dark-green underline-hover dim">{{.Title}}</a>
        {{ end }}
        {{ end }}
      </div>
    </li>
    {{- end -}}
  </ul>
  {{- end -}}
{{- else }}
<ul class="list pl0 mt0 w-100 mw8 center">
  {{- range .Pages.ByWeight -}}
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-20 f6 f5-ns f4-l">
    <div class="pl3 flex-auto">
      <span class="db black-70"><a class="link underline dark-green dim" href="{{.Permalink}}">{{.Title}}</a></span>
    </div>
    <div>
      {{ range .Params.speakers }}
      {{ $name := . }}
      {{ with ($.Site.GetPage (printf "/speakers/%s" $name)) }}
      <a href="{{.Permalink}}" class="link dark-green underline-hover dim">{{.Title}}</a>
      {{ end }}
      {{ end }}
    </div>
  </li>
  {{- end -}}
</ul>
{{- end -}}
</article>
{{- end -}}
