{{- define "main" -}}
  <article class="ph4 pt4 pt6-l w-100 bg-white">
    {{- if .Sections -}}
      {{/* All conferences */}}
      {{- range .Sections.ByDate.Reverse -}}
        <h3 class="f3 f2-ns f-4-l fw3 tc">
          {{- if gt .Date.Unix now.Unix -}}
            <span class="f6 f5-ns f4-l br2 dib ph3 pv2 mb2 v-mid mr2 white bg-dark-green">скоро</span>
          {{- end -}}
          <a class="link dim dark-green" href="{{.Permalink}}">{{ .Title }}</a>
        </h3>
        {{ partial "speeches" . }}
      {{- end -}}
    {{- else }}
      {{/* Single conference */}}
      {{ partial "speeches" . }}
    {{- end -}}
  </article>
{{- end -}}
