{{- define "main" -}}


<article class="cf ph4 pv4 w-100 mw8 center bg-white">
  {{ range $h, $id := .Params.videos }}
  <h3 class="f3 f2-ns f-4-l fw3 tc dark-green pt4 pt6-l">{{ $h | humanize }}</h3>
  <div class="aspect-ratio aspect-ratio--8x5">
    <iframe class="aspect-ratio--object" type="text/html" src="https://www.youtube.com/embed/{{ $id }}" allowfullscreen frameborder="0">
    </iframe>
  </div>
  {{ end }}
  {{ .Content }}
</article>

<ul class="list pl0 mt0 w-100 mw8 center mt4 mt6-l">
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-20 f6 f5-ns f4-l">
    <div class="pl3 flex-auto">
      {{ range .Params.speakers }}
      {{ $name := . }}
      {{ with ($.Site.GetPage (printf "/speakers/%s" $name)) }}
      <a href="{{.Permalink}}" class="link dark-green underline-hover dim">{{.Title}}</a>
      {{ end }}
      {{ end }}
    </div>
    <div class="pr3">
      {{ with .Resources.GetMatch "*.pdf" }}
      <a class="dib link underline dark-green dim" href="{{.Permalink}}">Скачать слайды</a>
      <a class="dib ml4 link underline dark-green dim" href="https://docs.google.com/viewer?{{ (querify "url" .Permalink ) | safeURL }}">Смотреть онлайн</a>
      {{ end }}
    </div>
  </li>
</ul>

<div class="ph4 pv4 pv6-l w-100 mw8 center bg-white">
{{ template "_internal/disqus.html" . }}
</div>

<div class="cf">
  {{ with .NextInSection }}
  <div class="fl w-50 tc">
    <a href="{{ .Permalink }}" class="f3 f2-ns f-4-l no-underline dark-green bg-animate hover-bg-dark-green hover-white inline-flex items-center pa3 ba border-box mr4" title="{{ .Title }}">
      <svg class="w2" viewBox="0 0 32 32" style="fill:currentcolor">
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
      <span class="pl2">Предыдущий доклад</span>
    </a>
  </div>
  {{ end }}
  {{ with .PrevInSection }}
  <div class="fr w-50 tc">
    <a href="{{ .Permalink }}" class="f3 f2-ns f-4-l no-underline dark-green bg-animate hover-bg-dark-green hover-white inline-flex items-center pa3 ba border-box mr4" title="{{ .Title }}">
      <span class="pr2">Следующий доклад</span>
      <svg class="w2" viewBox="0 0 32 32" style="fill:currentcolor">
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </a>
  </div>
  {{ end }}
</div>

{{- end -}}
