{{- define "main" -}}

<article class="cf ph4 pv4 pv6-l w-100 mw8 center bg-white">
  {{ .Content }}
</article>

<ul class="list pl0 mt0 w-100 mw8 center">
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-20 f6 f5-ns f4-l">
    <div class="pl3 flex-auto">
      {{ range .Params.speakers }}
      {{ $name := . }}
      {{ with ($.Site.GetPage (printf "/speakers/%s" $name)) }}
      <a href="{{.Permalink}}" class="link dark-green underline-hover dim">{{.Title}}</a>
      {{ end }}
      {{ end }}
    </div>
    <div class="pr3">
      {{ with .Resources.GetMatch "*.pdf" }}
      <a class="dib link underline dark-green dim" href="{{.Permalink}}">Скачать слайды</a>
      <a class="dib ml4 link underline dark-green dim" href="http://docs.google.com/viewer?{{ (querify "url" .Permalink ) | safeURL }}">Смотреть онлайн</a>
      {{ end }}
    </div>
  </li>
</ul>

<div class="ph4 pv4 pv6-l w-100 mw8 center bg-white">
{{ template "_internal/disqus.html" . }}
</div>

{{- end -}}
