<ul class="list pa3 pa5-ns bg-dark-green ma0 tc">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ul>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ if eq .p1 .p2 }}
<li class="dib mr2 f3 f2-ns near-white">{{ .p1.Title }}</li>
{{ else }}
<li class="dib mr2">
  <a class="f3 f2-ns db pa2 link dim light-green" href="{{ .p1.Permalink }}">{{ if .p1.IsHome }}{{ .p1.Site.Title }}{{ else }}{{ .p1.Title }}{{ end }}</a>
</li>
{{ end }}
{{ end }}
