<article class="ph4 pb4 pb6-l w-100 bg-white">
  {{ with .Site.GetPage "section" "pkf" }}
  {{ range first 1 .Pages.ByDate.Reverse }}
  {{ range .Pages.GroupByDate "2006-01-02" "asc" }}
  <h3 class="f3 f2-ns f-4-l fw3 mt4 mt6-l sans-serif dark-green tc">{{ (time .Key).Day }} {{ index $.Site.Data.month (printf "%d" (time .Key).Month) }}</h3>
  {{ range .Pages.ByDate }}
  <section class="cf w-100 mw8 center bb b--black-20 f6 f5-ns f4-l">
    <div class="fl w-100 w-10-m w-10-l pv2 pv4-l fw4 tracked">{{ .Date.Format "15:04"}}</div>
    <div class="fl w-100 w-90-m w-70-l pv2 pv4-l">{{ .Title }}</div>
    {{ range first 1 .Params.speakers }}
    {{ with ($.Site.GetPage (printf "/speakers/%s" .)) }}
    <div class="fl fr-m w-100 w-90-m w-20-l pv2 pv4-l tr-l">
      {{ partial "speakers-to-name" . }}
      {{ $loc := partial "speakers-to-loc" . }}
      {{ with $loc }}
      ({{ $loc }})
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </section>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
</article>
