{{ define "header" }}
  <header class="bg-dark-green fixed w-100 pv3 ph3 ph4-m pv4-l ph5-l">
    <nav class="f6 f5-ns f4-l fw4 ttu tracked tr">
      {{ range .Site.Menus.main }}
        <a class="link dim white dib mr3 mt1" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </header>
  <article class="vh-50 vh-100-l dt w-100 bg-dark-green">
    <div class="dtc v-mid near-white ph3 ph4-m ph5-l">
      <h1 class="f2 f1-ns f-5-l fw3 tc mt5 pt3 sans-serif">
        {{ .Site.Title }}
      </h1>
      <h2 class="f3 f2-ns f-4-l fw3 tc sans-serif">
        {{ .Title }}.
        {{ with .Site.GetPage "section" "pkf" }}
          {{ range first 1 .Pages.ByDate.Reverse }}
            {{ .Title }}
          {{ end }}
        {{ end }}
      </h2>
      {{ with .Site.GetPage "section" "pkf" }}
        {{ range first 1 .Pages.ByDate.Reverse }}
          {{ range $date, $id := .Params.live }}
            {{ if eq $date (now.Format "2006-01-02") }}
              <div class="cf ph4 pv4 w-100 mw8 center">
                <div class="aspect-ratio aspect-ratio--8x5">
                  <iframe class="aspect-ratio--object" type="text/html" src="https://www.youtube.com/embed/{{ $id }}" allowfullscreen frameborder="0">
                  </iframe>
                </div>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </article>
{{ end }}

{{ define "main" }}
  {{ partial "schedule" . }}
{{ end }}
