{{- define "main" -}}
<div class="pv4 ph3 mw8 center tr">
  {{ $email := partial "speakers-to-email" . }}
  {{ if $email}}
  <a class="link dark-green dim dib mh3 tc" href="mailto:{{ $email }}" title="E-Mail">
    <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 230.17 230.17" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
      <path d="M230 49.585c0-.263.181-.519.169-.779l-70.24 67.68 70.156 65.518c.041-.468-.085-.94-.085-1.418V49.585zM149.207 126.901l-28.674 27.588a7.48 7.48 0 01-5.2 2.096 7.478 7.478 0 01-5.113-2.013l-28.596-26.647-70.614 68.064c1.717.617 3.56 1.096 5.49 1.096h197.667c2.866 0 5.554-.873 7.891-2.175l-72.851-68.009z"/><path d="M115.251 138.757L222.447 35.496c-2.427-1.443-5.252-2.411-8.28-2.411H16.5c-3.943 0-7.556 1.531-10.37 3.866l109.121 101.806zM0 52.1v128.484c0 1.475.339 2.897.707 4.256l69.738-67.156L0 52.1z"/></svg>
      <span class="f6 f5-ns f4-l db">E-Mail</span>
  </a>
  {{ end }}

  {{ $telegram := partial "speakers-to-telegram" . }}
  {{ if $telegram}}
  <a class="link dark-green dim dib mh3 tc" href="https://t.me/{{ $telegram }}" title="Telegram">
    <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
    <path d="M23.91 3.79L20.3 20.84c-.25 1.21-.98 1.5-2 .94l-5.5-4.07-2.66 2.57c-.3.3-.55.56-1.1.56-.72 0-.6-.27-.84-.95L6.3 13.7l-5.45-1.7c-1.18-.35-1.19-1.16.26-1.75l21.26-8.2c.97-.43 1.9.24 1.53 1.73z"/></svg>
    <span class="f6 f5-ns f4-l db">Telegram</span>
  </a>
  {{ end }}
</div>

<article class="ph4 pv4 w-100 bg-white">
  <ul class="list pl0 mt0 w-100 mw8 center">
{{ range .Pages }}   
      <li class="flex items-center lh-copy pa3 ph0-l bb b--black-20 f6 f5-ns f4-l">       
        <div class="pl3 flex-auto">
          <span class="db black-70"><a class="link underline dark-green dim" href="{{.Permalink}}">{{ partial "speakers-to-name" . }}</a></span>
        </div>        
      </li>
{{ end }}
  </ul>
</article> 

{{- end -}}
